<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css">
    <title>Iniciar sesión en Wiki COBIT e ITIL</title>
</head>
<body>
    <header>
        <h1>Wiki para conocer más acerca de COBIT e ITIL</h1>
    </header>
    <nav>
        <a href="/">Inicio</a>
        <a href="/register">Registrarse</a>
    </nav>
    <main>
        <div class="container">
            <h2>Iniciar sesión</h2>
            <form action="/login" method="post">
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="username" required>
                
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>

                <input type="submit" value="Iniciar sesión">
            </form>
        </div>
    </main>
    <footer>
        <p>&copy; 2023 Kevin Bayter. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
