<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/register.css">
    <title>Registrarse en Wiki COBIT e ITIL</title>
</head>
<body>
    <header>
        <h1>Wiki para conocer más acerca de COBIT e ITIL</h1>
    </header>
    <nav>
        <a href="/">Inicio</a>
        <a href="/login">Iniciar sesión</a>
    </nav>
    <main>
        <div class="container">
            <h2>Registrarse</h2>
            <form action="/register" method="post" enctype="multipart/form-data">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" required>
                
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="username" required>
                
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
                <label for="profile_picture">Foto de perfil (opcional):</label>
                <input type="file" id="profile_picture" name="profile_picture">


                <input type="submit" value="Registrar">
            </form>
        </div>
    </main>
    <footer>
        <p>&copy; 2023 Kevin Bayter. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
